
.welcome{
    font-size: 100px;
    font-style: italic;
}

.seller{
    background-color: #F76C6C;
    font-size: 50px;
    padding: 20px 110px 20px 110px;
    margin: 70px 20px;
    color: white;
}

.seller:hover{
    background-color:  rgb(228, 142, 142);
    color: white;
}

.buyer{
    background-color: #3AAFA9;
    font-size: 50px;
    color: white;
    padding: 20px 110px 20px 110px;
    margin: 70px 20px;
}

.buyer:hover{
    background-color:  rgb(116, 189, 179);
    color: white;
}
